node_modules
package-lock.json
data/*
!data/.gitkeep
data/logs
data
backend/data/*
backend/data/logs
backend/data/logs/*
backend/data/logs/logs.log
backend/data/logs/logs.log.*
backend/data/logs/logs.log.*.*
backend/data/logs/logs.log.*.*.*
backend/data/logs/logs.log.*.*.*.*

